$color-blue: #5c9edc;
$color-orange: #DA8F56;

@font-face {
    font-family: "SanFrancisco";
    src: url("SanFrancisco.ttf");
}

@font-face {
    font-family: "Neucha";
    src: url("Neucha.ttf");
}

body {
    background: #333333 100%;
    font-family: SanFrancisco;
    color: white;
    font-size: 14px;
}

.strong {
    color: $color-orange;
    font-size: 16px;
    font-family: Neucha;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin: 40px;

    &__photo {
        margin-left: 8%;
    }

    &__image {
        width: 200px;
        height: 200px;
        border: 2px solid $color-orange;
        border-radius: 100px;
    }

    &__title-block {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        margin-left: 120px;
        padding: 30px;
    }

    &__name {
        font-size: 60px;
        font-family: Neucha;
    }

    &__speciality {
        margin-top: 20px;
        font-size: 18px;
    }
}

.hr-header, .hr-footer {
    margin: auto 60px;
}

.hr-content {
    margin: 4px 20px;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 20px 60px;
 
    &__header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-family: Neucha;
    }

    &__header-img {
        height: 54px;
        width: 54px;
    }

    &__title {
        margin: auto 20px;
        font-size: 36px;
    }

    &__text {
        font-size: 14px;
        margin: 16px;
    }

    &__about {
        margin-bottom: 50px;
    }

    &__left {
        width: 30%;
    }

    &__right {
        width: 70%;
    }
}

.contact {
    &__connect, &__follow {
        font-family: Neucha;
        font-size: 24px;
        color: $color-orange;
        margin-top: 16px;
        padding-left: 80px;
    }
}

.connect, .follow {
    &__buttons {
        list-style: none;
        margin-left: -95px;
        font-family: SanFrancisco;
        font-size: 18px;
    }

    &__button {
        display: flex;
        flex-direction: row;
        align-items: flex-start; 
        text-decoration: none;
        margin-bottom: 8px;
    }

    &__border {
        width: 40px;
        height: 40px;
        line-height: 50px;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 5px solid #D8E2DC;
        transition: all 0.5s ease;
        position: absolute;
                
        &__hovered {
            border: 5px solid $color-orange;
            box-shadow: 0 0 15px $color-orange;
            transition: all 0.5s ease;
        }
    }

    &__img {
        color: #D8E2DC;
        width: 25px;
        height: 25px;
        transition: all 0.5s ease;
        margin: 12px;
    }

    &__link {
        color: white;
        margin: 10px;

        &__hovered {
            color: $color-orange;
            transition: all 0.5s ease;
        }
    }
}

.experience {
    &__row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 16px;
        margin-bottom: 4px;

        & > * {
            margin-bottom: 16px;
        }
    }
}

.cell {
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__img {
        width: 32px;
        height: 32px;
    }

    &__title {
        font-family: Neucha;
        font-size: 28px;
        color: $color-orange;
        margin-left: 12px;
    }

    &__data {
        font-size: 14px;
    }

    &__link {
        color: white;
    }

    &__techno {
        padding: 4px;
        border: 1px solid $color-orange;
        border-radius: 4px;
        margin: auto 8px;
    }
}

.education {
    &__list {
        margin: 16px;
    }

    &__list > * {
        margin-bottom: 10px;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__place, &__date {
        font-size: 20px;
        font-family: Neucha;
        color: $color-orange;
    }

    &__site {
        font-size: 16px;
        color: white;
    }

    &__role {
        margin-top: 16px;
        font-size: 20px;
    }

    &__info {
        font-size: 14px;
    }

    &__content {
        margin-bottom: 50px;
    }
}

.skills {
    &__row {
        display: flex;
        flex-direction: row;
    }

    &__cell {
        width: 30%;
        padding: 4px;
        border: 1px solid $color-orange;
        border-radius: 4px;
        margin: 8px;
    }

    &__row:last-child &__cell {
        width: 100%;
    }

    &__title {
        display: flex;
        font-size: 20px;
        font-family: Neucha;
        color: $color-orange;
        height: 50px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__content {
        margin: 8px;
    }

    &__language {
        font-size: 16px;
        margin-bottom: 4px;
    }

    &__progress {
        background-color: $color-orange;
        border: 0;
        height: 10px;
        border-radius: 5px;
        margin-bottom: 8px;
        width: 100%;
    }

    &__progress::-webkit-progress-bar {
        background-color: white;
        height: 10px;
        border-radius: 5px;
    }

    &__progress::-webkit-progress-value {
        background-color: $color-orange;
        height: 10px;
        border-radius: 5px;
    }

    &__technos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
    }

    &__name {
        padding: 4px;
        border: 1px solid white;
        border-radius: 4px;
        margin: auto 8px;
        font-size: 20px;
        font-family: Neucha;
        padding: 8px;
    }
}

.footer {
    font-size: 18px;
    font-family: Neucha;
    
    &__text {
        margin: 10px;
        text-align: center;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .header {
        &__image {
            width: 160px;
            height: 160px;
        }
    
        &__title-block {
            margin-left: 30px;
        }
    
        &__name {
            font-size: 50px;
        }
    
        &__speciality {
            font-size: 18px;
        }
    }    
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .header {
        &__image {
            width: 140px;
            height: 140px;
        }
    
        &__title-block {
            margin-left: 20px;
        }

        &__photo {
            margin: 28px;
        }
    
        &__name {
            font-size: 40px;
        }
    
        &__speciality {
            font-size: 16px;
        }
    }    
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header {
        &__image {
            width: 140px;
            height: 140px;
        }
    
        &__title-block {
            margin-left: 8px;
            padding-left: 0;
        }

        &__photo {
            margin: 28px;
        }
    
        &__name {
            font-size: 32px;
        }
    
        &__speciality {
            font-size: 14px;
        }
    }  
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .header {
        flex-direction: column;
        margin-bottom: 10px;

        &__photo {
            margin: auto;
        }

        &__image {
            width: 140px;
            height: 140px;
        }
    
        &__title-block {
            margin: 10px auto auto auto;
            padding: 10px;
        }
    
        &__name {
            font-size: 32px;
            text-align: center;
        }
    
        &__speciality {
            font-size: 14px;
            text-align: center;
        }
    }

    .hr-header {
        margin: auto 20px;
    }
}